[Unit]
Description=root server for collaborative devices
After=rc-local.service
[Service]
WorkingDirectory=
ExecStart=
Restart=always
#RestartSec=90
RestartSec=30
Type=simple
PIDFile=/var/run/tornado_base.pid
[Install]
WantedBy=multi-user.target
