<!--
 * @author Dr. Takeyuki UEDA
 * @copyright Copyright© Atelier UEDA 2018 - All rights reserved.
-->

<!-- https://stackoverflow.com/questions/12993835/passing-a-custom-python-function-into-a-tornado-template -->
{% import pprint %}
<html>

  <head>
    <title>Hello</title>
  </head>
  <body>
    <h1>request</h1>
    <pre>
      {{pprint.pformat(request)}}
    </pre>

    <h2>vars(request)</h2>
    <pre>
      {{pprint.pformat(vars(request))}}
    </pre>

    <h1>request.connection</h1>
    <pre>
    {{pprint.pformat(request.connection)}}
    </pre>

    <h2>vars(request.connection)</h2>
    <pre>
    {{pprint.pformat(vars(request.connection))}}
    </pre>

    <h3>vars(request.connection._close_callback)</h3>
    <pre>
      {{pprint.pformat(vars(request.connection._close_callback))}}
    </pre>

    <h3>vars(request.connection._finish_future)</h3>
    <pre>
      {{pprint.pformat(vars(request.connection._finish_future))}}
    </pre>

    <h3>vars(request.connection.context)</h3>
    <pre>
      {{pprint.pformat(vars(request.connection.context))}}
    </pre>

    <h3>vars(request.connection.params)</h3>
    <pre>
      {{pprint.pformat(vars(request.connection.params))}}
    </pre>

    <h3>vars(request.connection.stream)</h3>
    <pre>
      {{pprint.pformat(vars(request.connection.stream))}}
    </pre>

    <h1>request.headers</h1>
    <pre>
      {{pprint.pformat(request.headers)}}
    </pre>

    <h2>vars(request.headers)</h2>
    <pre>
      {{pprint.pformat(vars(request.headers))}}
    </pre>

    <h2>request.headers.keys and values</h2>
    <ul>
      {% for key in request.headers.keys() %}
        <li>{{key}} = {{request.headers.get(key)}}</li>
      {% end %}
    </ul>

    <h1>request.server_connection</h1>
    <pre>
      {{pprint.pformat(request.server_connection)}}

    <h2>vars(request.server_connection)</h2>
    <pre>
      {{pprint.pformat(vars(request.server_connection))}}
    </pre>

  </body>
</html>
